.privacy-content {
  .lst-kix_ib7syf5i4vnk-8 > li {
    counter-increment: lst-ctn-kix_ib7syf5i4vnk-8;
  }

  ol.lst-kix_ib7syf5i4vnk-2.start {
    counter-reset: lst-ctn-kix_ib7syf5i4vnk-2 0;
  }

  .lst-kix_i5jgj1t0ukp9-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_i5jgj1t0ukp9-6 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_i5jgj1t0ukp9-7 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_i5jgj1t0ukp9-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_ib7syf5i4vnk-6 > li {
    counter-increment: lst-ctn-kix_ib7syf5i4vnk-6;
  }

  .lst-kix_p0b163aid7fr-0 > li:before {
    content: '  ';
  }

  .lst-kix_p0b163aid7fr-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_p0b163aid7fr-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_p0b163aid7fr-4 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_p0b163aid7fr-6 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_p0b163aid7fr-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_p0b163aid7fr-7 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_92n43ryfuy5n-8 > li:before {
    content: '\0025a0   ';
  }

  ol.lst-kix_ib7syf5i4vnk-8.start {
    counter-reset: lst-ctn-kix_ib7syf5i4vnk-8 0;
  }

  ul.lst-kix_p4g5nx8dd4q6-1 {
    list-style-type: none;
  }

  ul.lst-kix_p4g5nx8dd4q6-0 {
    list-style-type: none;
  }

  ul.lst-kix_p4g5nx8dd4q6-3 {
    list-style-type: none;
  }

  .lst-kix_p0b163aid7fr-5 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_p4g5nx8dd4q6-2 {
    list-style-type: none;
  }

  ul.lst-kix_p4g5nx8dd4q6-5 {
    list-style-type: none;
  }

  .lst-kix_9ade7ht70e6-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_9ade7ht70e6-6 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_p4g5nx8dd4q6-4 {
    list-style-type: none;
  }

  ul.lst-kix_p4g5nx8dd4q6-7 {
    list-style-type: none;
  }

  ul.lst-kix_p4g5nx8dd4q6-6 {
    list-style-type: none;
  }

  .lst-kix_yrfdiffits0z-0 > li:before {
    content: '-  ';
  }

  ul.lst-kix_p4g5nx8dd4q6-8 {
    list-style-type: none;
  }

  .lst-kix_yrfdiffits0z-1 > li:before {
    content: '-  ';
  }

  .lst-kix_92n43ryfuy5n-7 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_9ade7ht70e6-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_92n43ryfuy5n-6 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_p0b163aid7fr-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_yrfdiffits0z-2 > li:before {
    content: '-  ';
  }

  .lst-kix_yrfdiffits0z-4 > li:before {
    content: '-  ';
  }

  .lst-kix_92n43ryfuy5n-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_9ade7ht70e6-0 > li:before {
    content: '  ';
  }

  .lst-kix_9ade7ht70e6-7 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_9ade7ht70e6-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_yrfdiffits0z-3 > li:before {
    content: '-  ';
  }

  .lst-kix_92n43ryfuy5n-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_92n43ryfuy5n-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_92n43ryfuy5n-4 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_9ade7ht70e6-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_92n43ryfuy5n-0 > li:before {
    content: '  ';
  }

  .lst-kix_92n43ryfuy5n-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_9ade7ht70e6-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_9ade7ht70e6-4 > li:before {
    content: '\0025cb   ';
  }

  ol.lst-kix_ib7syf5i4vnk-5 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-4 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-3 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-4 > li {
    counter-increment: lst-ctn-kix_ib7syf5i4vnk-4;
  }

  ol.lst-kix_ib7syf5i4vnk-2 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-8 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-7 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-6 {
    list-style-type: none;
  }

  .lst-kix_i5jgj1t0ukp9-4 > li:before {
    content: '\0025cb   ';
  }

  ol.lst-kix_ib7syf5i4vnk-0 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-3.start {
    counter-reset: lst-ctn-kix_ib7syf5i4vnk-3 0;
  }

  .lst-kix_i5jgj1t0ukp9-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_i5jgj1t0ukp9-0 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_i5jgj1t0ukp9-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_i5jgj1t0ukp9-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_ib7syf5i4vnk-2 > li {
    counter-increment: lst-ctn-kix_ib7syf5i4vnk-2;
  }

  .lst-kix_dk0ys2rnhwa6-7 > li:before {
    content: '-  ';
  }

  .lst-kix_p4g5nx8dd4q6-3 > li:before {
    content: '-  ';
  }

  .lst-kix_p4g5nx8dd4q6-5 > li:before {
    content: '-  ';
  }

  .lst-kix_1vmh24urjrwa-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_1vmh24urjrwa-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_1vmh24urjrwa-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_ib7syf5i4vnk-1 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_p4g5nx8dd4q6-1 > li:before {
    content: '-  ';
  }

  ul.lst-kix_9ade7ht70e6-8 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-2 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-7 > li:before {
    content: '' counter(lst-ctn-kix_ib7syf5i4vnk-7, lower-latin) '. ';
  }

  ul.lst-kix_9ade7ht70e6-7 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-1 {
    list-style-type: none;
  }

  ul.lst-kix_9ade7ht70e6-6 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-4 {
    list-style-type: none;
  }

  ul.lst-kix_9ade7ht70e6-5 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-3 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-6 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-5 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-8 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-7 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-3 > li:before {
    content: '' counter(lst-ctn-kix_ib7syf5i4vnk-3, decimal) '. ';
  }

  ul.lst-kix_i5jgj1t0ukp9-8 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-5 > li:before {
    content: '' counter(lst-ctn-kix_ib7syf5i4vnk-5, lower-roman) '. ';
  }

  ul.lst-kix_i5jgj1t0ukp9-6 {
    list-style-type: none;
  }

  ul.lst-kix_n41nqjhmm32c-0 {
    list-style-type: none;
  }

  ul.lst-kix_i5jgj1t0ukp9-7 {
    list-style-type: none;
  }

  ul.lst-kix_i5jgj1t0ukp9-4 {
    list-style-type: none;
  }

  ul.lst-kix_i5jgj1t0ukp9-5 {
    list-style-type: none;
  }

  ul.lst-kix_i5jgj1t0ukp9-2 {
    list-style-type: none;
  }

  .lst-kix_dk0ys2rnhwa6-1 > li:before {
    content: '-  ';
  }

  ul.lst-kix_i5jgj1t0ukp9-3 {
    list-style-type: none;
  }

  .lst-kix_yrfdiffits0z-6 > li:before {
    content: '-  ';
  }

  .lst-kix_yrfdiffits0z-8 > li:before {
    content: '-  ';
  }

  ul.lst-kix_i5jgj1t0ukp9-0 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-3 > li {
    counter-increment: lst-ctn-kix_ib7syf5i4vnk-3;
  }

  ul.lst-kix_i5jgj1t0ukp9-1 {
    list-style-type: none;
  }

  .lst-kix_p4g5nx8dd4q6-7 > li:before {
    content: '-  ';
  }

  ul.lst-kix_9ade7ht70e6-0 {
    list-style-type: none;
  }

  .lst-kix_dk0ys2rnhwa6-3 > li:before {
    content: '-  ';
  }

  .lst-kix_dk0ys2rnhwa6-5 > li:before {
    content: '-  ';
  }

  ul.lst-kix_9ade7ht70e6-4 {
    list-style-type: none;
  }

  ul.lst-kix_9ade7ht70e6-3 {
    list-style-type: none;
  }

  ul.lst-kix_9ade7ht70e6-2 {
    list-style-type: none;
  }

  ul.lst-kix_9ade7ht70e6-1 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-0.start {
    counter-reset: lst-ctn-kix_ib7syf5i4vnk-0 7;
  }

  .lst-kix_n41nqjhmm32c-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_n41nqjhmm32c-4 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_n41nqjhmm32c-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_n41nqjhmm32c-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_n41nqjhmm32c-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_n41nqjhmm32c-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_n41nqjhmm32c-7 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_n41nqjhmm32c-6 > li:before {
    content: '\0025cf   ';
  }

  ol.lst-kix_ib7syf5i4vnk-5.start {
    counter-reset: lst-ctn-kix_ib7syf5i4vnk-5 0;
  }

  ul.lst-kix_ib7syf5i4vnk-1 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-4.start {
    counter-reset: lst-ctn-kix_ib7syf5i4vnk-4 0;
  }

  ul.lst-kix_92n43ryfuy5n-0 {
    list-style-type: none;
  }

  ul.lst-kix_92n43ryfuy5n-2 {
    list-style-type: none;
  }

  ul.lst-kix_92n43ryfuy5n-1 {
    list-style-type: none;
  }

  ul.lst-kix_92n43ryfuy5n-4 {
    list-style-type: none;
  }

  ul.lst-kix_92n43ryfuy5n-3 {
    list-style-type: none;
  }

  ul.lst-kix_92n43ryfuy5n-6 {
    list-style-type: none;
  }

  ul.lst-kix_92n43ryfuy5n-5 {
    list-style-type: none;
  }

  ul.lst-kix_92n43ryfuy5n-8 {
    list-style-type: none;
  }

  ul.lst-kix_92n43ryfuy5n-7 {
    list-style-type: none;
  }

  .lst-kix_1vmh24urjrwa-6 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_1vmh24urjrwa-7 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_1vmh24urjrwa-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_ib7syf5i4vnk-7 > li {
    counter-increment: lst-ctn-kix_ib7syf5i4vnk-7;
  }

  ul.lst-kix_dk0ys2rnhwa6-1 {
    list-style-type: none;
  }

  .lst-kix_p4g5nx8dd4q6-0 > li:before {
    content: '-  ';
  }

  ul.lst-kix_dk0ys2rnhwa6-0 {
    list-style-type: none;
  }

  .lst-kix_dk0ys2rnhwa6-6 > li:before {
    content: '-  ';
  }

  .lst-kix_p4g5nx8dd4q6-4 > li:before {
    content: '-  ';
  }

  .lst-kix_dk0ys2rnhwa6-0 > li:before {
    content: '-  ';
  }

  .lst-kix_dk0ys2rnhwa6-8 > li:before {
    content: '-  ';
  }

  .lst-kix_1vmh24urjrwa-0 > li:before {
    content: '  ';
  }

  ul.lst-kix_yrfdiffits0z-4 {
    list-style-type: none;
  }

  ul.lst-kix_yrfdiffits0z-3 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-0 > li:before {
    content: '' counter(lst-ctn-kix_ib7syf5i4vnk-0, decimal) '. ';
  }

  ul.lst-kix_yrfdiffits0z-2 {
    list-style-type: none;
  }

  ul.lst-kix_yrfdiffits0z-1 {
    list-style-type: none;
  }

  ul.lst-kix_yrfdiffits0z-8 {
    list-style-type: none;
  }

  ul.lst-kix_yrfdiffits0z-7 {
    list-style-type: none;
  }

  ul.lst-kix_yrfdiffits0z-6 {
    list-style-type: none;
  }

  .lst-kix_1vmh24urjrwa-2 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_yrfdiffits0z-5 {
    list-style-type: none;
  }

  ul.lst-kix_dk0ys2rnhwa6-8 {
    list-style-type: none;
  }

  ul.lst-kix_dk0ys2rnhwa6-7 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-2 > li:before {
    content: '' counter(lst-ctn-kix_ib7syf5i4vnk-2, lower-roman) '. ';
  }

  ul.lst-kix_dk0ys2rnhwa6-6 {
    list-style-type: none;
  }

  ul.lst-kix_dk0ys2rnhwa6-5 {
    list-style-type: none;
  }

  .lst-kix_p4g5nx8dd4q6-2 > li:before {
    content: '-  ';
  }

  ul.lst-kix_dk0ys2rnhwa6-4 {
    list-style-type: none;
  }

  ul.lst-kix_dk0ys2rnhwa6-3 {
    list-style-type: none;
  }

  ul.lst-kix_dk0ys2rnhwa6-2 {
    list-style-type: none;
  }

  .lst-kix_1vmh24urjrwa-4 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_1vmh24urjrwa-3 {
    list-style-type: none;
  }

  ul.lst-kix_1vmh24urjrwa-2 {
    list-style-type: none;
  }

  ul.lst-kix_1vmh24urjrwa-1 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-6 > li:before {
    content: '' counter(lst-ctn-kix_ib7syf5i4vnk-6, decimal) '. ';
  }

  .lst-kix_ib7syf5i4vnk-8 > li:before {
    content: '' counter(lst-ctn-kix_ib7syf5i4vnk-8, lower-roman) '. ';
  }

  ul.lst-kix_1vmh24urjrwa-0 {
    list-style-type: none;
  }

  ul.lst-kix_1vmh24urjrwa-7 {
    list-style-type: none;
  }

  ul.lst-kix_1vmh24urjrwa-6 {
    list-style-type: none;
  }

  ul.lst-kix_1vmh24urjrwa-5 {
    list-style-type: none;
  }

  ul.lst-kix_1vmh24urjrwa-4 {
    list-style-type: none;
  }

  .lst-kix_ib7syf5i4vnk-4 > li:before {
    content: '' counter(lst-ctn-kix_ib7syf5i4vnk-4, lower-latin) '. ';
  }

  ul.lst-kix_1vmh24urjrwa-8 {
    list-style-type: none;
  }

  ul.lst-kix_yrfdiffits0z-0 {
    list-style-type: none;
  }

  .lst-kix_p4g5nx8dd4q6-6 > li:before {
    content: '-  ';
  }

  .lst-kix_p4g5nx8dd4q6-8 > li:before {
    content: '-  ';
  }

  .lst-kix_ib7syf5i4vnk-0 > li {
    counter-increment: lst-ctn-kix_ib7syf5i4vnk-0;
  }

  .lst-kix_dk0ys2rnhwa6-2 > li:before {
    content: '-  ';
  }

  .lst-kix_yrfdiffits0z-5 > li:before {
    content: '-  ';
  }

  .lst-kix_dk0ys2rnhwa6-4 > li:before {
    content: '-  ';
  }

  .lst-kix_yrfdiffits0z-7 > li:before {
    content: '-  ';
  }

  .lst-kix_ib7syf5i4vnk-5 > li {
    counter-increment: lst-ctn-kix_ib7syf5i4vnk-5;
  }

  ol.lst-kix_ib7syf5i4vnk-7.start {
    counter-reset: lst-ctn-kix_ib7syf5i4vnk-7 0;
  }

  ul.lst-kix_p0b163aid7fr-7 {
    list-style-type: none;
  }

  ul.lst-kix_p0b163aid7fr-6 {
    list-style-type: none;
  }

  ul.lst-kix_p0b163aid7fr-8 {
    list-style-type: none;
  }

  ul.lst-kix_p0b163aid7fr-3 {
    list-style-type: none;
  }

  ul.lst-kix_p0b163aid7fr-2 {
    list-style-type: none;
  }

  ul.lst-kix_p0b163aid7fr-5 {
    list-style-type: none;
  }

  ul.lst-kix_p0b163aid7fr-4 {
    list-style-type: none;
  }

  ol.lst-kix_ib7syf5i4vnk-6.start {
    counter-reset: lst-ctn-kix_ib7syf5i4vnk-6 0;
  }

  li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
  }

  ul.lst-kix_p0b163aid7fr-1 {
    list-style-type: none;
  }

  ul.lst-kix_p0b163aid7fr-0 {
    list-style-type: none;
  }

  .lst-kix_n41nqjhmm32c-0 > li:before {
    content: '  ';
  }

  ol {
    margin: 0;
    padding: 0;
  }

  table td,
  table th {
    padding: 0;
  }

  .c15 {
    margin-left: -27pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  .c1 {
    padding-top: 4pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  .c6 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }

  .c7 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }

  .c20 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-style: normal;
  }

  .c11 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  .c12 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: italic;
  }

  .c19 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 22.5pt 72pt 49.5pt 72pt;
  }

  .c4 {
    font-weight: 700;
  }

  .c5 {
    margin-left: 36pt;
    padding-left: 0pt;
  }

  .c13 {
    font-weight: 400;
  }

  .c0 {
    font-weight: 400;
  }

  .c3 {
    color: inherit;
    text-decoration: inherit;
  }

  .c9 {
    padding: 0;
    margin: 0;
  }

  .c17 {
    color: #2f5496;
  }

  .c16 {
  }

  .c8 {
    color: #0563c1;
  }

  .c10 {
    margin-left: 22.5pt;
  }

  .c18 {
    height: 11pt;
  }

  .c2 {
    font-size: 12pt;
  }

  .c14 {
    font-style: italic;
  }

  .title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  .subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  li {
    color: #000000;
  }

  p {
    margin: 0;
    color: #000000;
  }

  h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  h5 {
    padding-top: 12pt;
    color: #666666;
    padding-bottom: 4pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  h6 {
    padding-top: 12pt;
    color: #666666;
    padding-bottom: 4pt;

    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
}
