.terms-content {
  ul.lst-kix_iuvadfy2f20q-6 {
    list-style-type: none;
  }

  ul.lst-kix_iuvadfy2f20q-7 {
    list-style-type: none;
  }

  ul.lst-kix_iuvadfy2f20q-8 {
    list-style-type: none;
  }

  .lst-kix_qovms0k2293h-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_qovms0k2293h-3 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_iuvadfy2f20q-2 {
    list-style-type: none;
  }

  ul.lst-kix_iuvadfy2f20q-3 {
    list-style-type: none;
  }

  ul.lst-kix_iuvadfy2f20q-4 {
    list-style-type: none;
  }

  .lst-kix_qovms0k2293h-0 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_qovms0k2293h-4 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_iuvadfy2f20q-5 {
    list-style-type: none;
  }

  .lst-kix_qovms0k2293h-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_qovms0k2293h-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_qovms0k2293h-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_qovms0k2293h-7 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_qovms0k2293h-6 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_iuvadfy2f20q-0 {
    list-style-type: none;
  }

  ul.lst-kix_iuvadfy2f20q-1 {
    list-style-type: none;
  }

  ul.lst-kix_495r95uh9p0v-8 {
    list-style-type: none;
  }

  .lst-kix_iuvadfy2f20q-2 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_495r95uh9p0v-7 {
    list-style-type: none;
  }

  .lst-kix_m8xn4dilv14o-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_m8xn4dilv14o-4 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_cy0i6nutiu2i-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_cy0i6nutiu2i-7 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_495r95uh9p0v-4 {
    list-style-type: none;
  }

  .lst-kix_iuvadfy2f20q-0 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_iuvadfy2f20q-4 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_495r95uh9p0v-3 {
    list-style-type: none;
  }

  .lst-kix_m8xn4dilv14o-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_m8xn4dilv14o-6 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_495r95uh9p0v-6 {
    list-style-type: none;
  }

  .lst-kix_iuvadfy2f20q-3 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_495r95uh9p0v-5 {
    list-style-type: none;
  }

  .lst-kix_cy0i6nutiu2i-4 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_cy0i6nutiu2i-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_m8xn4dilv14o-0 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_m8xn4dilv14o-7 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_m8xn4dilv14o-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_iuvadfy2f20q-6 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_cy0i6nutiu2i-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_cy0i6nutiu2i-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_m8xn4dilv14o-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_iuvadfy2f20q-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_cy0i6nutiu2i-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_po4vy7s2mgei-0 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_cy0i6nutiu2i-0 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_495r95uh9p0v-0 {
    list-style-type: none;
  }

  ul.lst-kix_495r95uh9p0v-2 {
    list-style-type: none;
  }

  ul.lst-kix_495r95uh9p0v-1 {
    list-style-type: none;
  }

  .lst-kix_495r95uh9p0v-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_iuvadfy2f20q-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_495r95uh9p0v-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_495r95uh9p0v-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_495r95uh9p0v-0 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_4zm8jdophsr3-0 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_m8xn4dilv14o-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_cy0i6nutiu2i-6 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_4zm8jdophsr3-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_4zm8jdophsr3-4 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_4zm8jdophsr3-8 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_i1gfvbcr50v9-0 {
    list-style-type: none;
  }

  .lst-kix_4zm8jdophsr3-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_4zm8jdophsr3-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_4zm8jdophsr3-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_4zm8jdophsr3-7 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_po4vy7s2mgei-5 {
    list-style-type: none;
  }

  ul.lst-kix_po4vy7s2mgei-6 {
    list-style-type: none;
  }

  .lst-kix_4zm8jdophsr3-6 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_po4vy7s2mgei-7 {
    list-style-type: none;
  }

  ul.lst-kix_po4vy7s2mgei-8 {
    list-style-type: none;
  }

  ul.lst-kix_po4vy7s2mgei-1 {
    list-style-type: none;
  }

  .lst-kix_po4vy7s2mgei-7 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_m8xn4dilv14o-4 {
    list-style-type: none;
  }

  ul.lst-kix_po4vy7s2mgei-2 {
    list-style-type: none;
  }

  ul.lst-kix_m8xn4dilv14o-3 {
    list-style-type: none;
  }

  ul.lst-kix_po4vy7s2mgei-3 {
    list-style-type: none;
  }

  .lst-kix_po4vy7s2mgei-6 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_po4vy7s2mgei-8 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_m8xn4dilv14o-6 {
    list-style-type: none;
  }

  .lst-kix_495r95uh9p0v-4 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_495r95uh9p0v-6 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_po4vy7s2mgei-4 {
    list-style-type: none;
  }

  ul.lst-kix_m8xn4dilv14o-5 {
    list-style-type: none;
  }

  ul.lst-kix_m8xn4dilv14o-0 {
    list-style-type: none;
  }

  ul.lst-kix_m8xn4dilv14o-2 {
    list-style-type: none;
  }

  .lst-kix_495r95uh9p0v-5 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_po4vy7s2mgei-0 {
    list-style-type: none;
  }

  ul.lst-kix_m8xn4dilv14o-1 {
    list-style-type: none;
  }

  .lst-kix_po4vy7s2mgei-3 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_cy0i6nutiu2i-7 {
    list-style-type: none;
  }

  ul.lst-kix_cy0i6nutiu2i-6 {
    list-style-type: none;
  }

  .lst-kix_po4vy7s2mgei-2 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_cy0i6nutiu2i-5 {
    list-style-type: none;
  }

  .lst-kix_495r95uh9p0v-8 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_cy0i6nutiu2i-4 {
    list-style-type: none;
  }

  .lst-kix_po4vy7s2mgei-1 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_cy0i6nutiu2i-3 {
    list-style-type: none;
  }

  ul.lst-kix_cy0i6nutiu2i-2 {
    list-style-type: none;
  }

  ul.lst-kix_cy0i6nutiu2i-1 {
    list-style-type: none;
  }

  .lst-kix_495r95uh9p0v-7 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_cy0i6nutiu2i-0 {
    list-style-type: none;
  }

  ul.lst-kix_hui4y7drbkqx-4 {
    list-style-type: none;
  }

  ul.lst-kix_hui4y7drbkqx-3 {
    list-style-type: none;
  }

  ul.lst-kix_hui4y7drbkqx-2 {
    list-style-type: none;
  }

  ul.lst-kix_hui4y7drbkqx-1 {
    list-style-type: none;
  }

  .lst-kix_iuvadfy2f20q-8 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_hui4y7drbkqx-0 {
    list-style-type: none;
  }

  .lst-kix_iuvadfy2f20q-7 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_cy0i6nutiu2i-8 {
    list-style-type: none;
  }

  ul.lst-kix_i1gfvbcr50v9-1 {
    list-style-type: none;
  }

  ul.lst-kix_i1gfvbcr50v9-2 {
    list-style-type: none;
  }

  .lst-kix_po4vy7s2mgei-4 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_i1gfvbcr50v9-3 {
    list-style-type: none;
  }

  ul.lst-kix_i1gfvbcr50v9-4 {
    list-style-type: none;
  }

  ul.lst-kix_hui4y7drbkqx-8 {
    list-style-type: none;
  }

  .lst-kix_po4vy7s2mgei-5 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_m8xn4dilv14o-8 {
    list-style-type: none;
  }

  ul.lst-kix_i1gfvbcr50v9-5 {
    list-style-type: none;
  }

  ul.lst-kix_hui4y7drbkqx-7 {
    list-style-type: none;
  }

  ul.lst-kix_m8xn4dilv14o-7 {
    list-style-type: none;
  }

  ul.lst-kix_i1gfvbcr50v9-6 {
    list-style-type: none;
  }

  ul.lst-kix_hui4y7drbkqx-6 {
    list-style-type: none;
  }

  ul.lst-kix_i1gfvbcr50v9-7 {
    list-style-type: none;
  }

  ul.lst-kix_hui4y7drbkqx-5 {
    list-style-type: none;
  }

  ul.lst-kix_i1gfvbcr50v9-8 {
    list-style-type: none;
  }

  .lst-kix_hui4y7drbkqx-0 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_4zm8jdophsr3-3 {
    list-style-type: none;
  }

  ul.lst-kix_4zm8jdophsr3-4 {
    list-style-type: none;
  }

  ul.lst-kix_4zm8jdophsr3-1 {
    list-style-type: none;
  }

  ul.lst-kix_4zm8jdophsr3-2 {
    list-style-type: none;
  }

  .lst-kix_hui4y7drbkqx-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_hui4y7drbkqx-4 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_4zm8jdophsr3-7 {
    list-style-type: none;
  }

  .lst-kix_i1gfvbcr50v9-7 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_4zm8jdophsr3-8 {
    list-style-type: none;
  }

  ul.lst-kix_4zm8jdophsr3-5 {
    list-style-type: none;
  }

  .lst-kix_i1gfvbcr50v9-6 > li:before {
    content: '\0025cf   ';
  }

  ul.lst-kix_4zm8jdophsr3-6 {
    list-style-type: none;
  }

  .lst-kix_hui4y7drbkqx-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_hui4y7drbkqx-5 > li:before {
    content: '\0025a0   ';
  }

  ul.lst-kix_4zm8jdophsr3-0 {
    list-style-type: none;
  }

  .lst-kix_i1gfvbcr50v9-8 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_hui4y7drbkqx-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_i1gfvbcr50v9-1 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_i1gfvbcr50v9-3 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_i1gfvbcr50v9-2 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_i1gfvbcr50v9-5 > li:before {
    content: '\0025a0   ';
  }

  .lst-kix_hui4y7drbkqx-6 > li:before {
    content: '\0025cf   ';
  }

  .lst-kix_hui4y7drbkqx-8 > li:before {
    content: '\0025a0   ';
  }

  li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
  }

  .lst-kix_i1gfvbcr50v9-4 > li:before {
    content: '\0025cb   ';
  }

  .lst-kix_hui4y7drbkqx-7 > li:before {
    content: '\0025cb   ';
  }

  ul.lst-kix_qovms0k2293h-8 {
    list-style-type: none;
  }

  ul.lst-kix_qovms0k2293h-6 {
    list-style-type: none;
  }

  ul.lst-kix_qovms0k2293h-7 {
    list-style-type: none;
  }

  ul.lst-kix_qovms0k2293h-4 {
    list-style-type: none;
  }

  ul.lst-kix_qovms0k2293h-5 {
    list-style-type: none;
  }

  ul.lst-kix_qovms0k2293h-2 {
    list-style-type: none;
  }

  ul.lst-kix_qovms0k2293h-3 {
    list-style-type: none;
  }

  ul.lst-kix_qovms0k2293h-0 {
    list-style-type: none;
  }

  ul.lst-kix_qovms0k2293h-1 {
    list-style-type: none;
  }

  .lst-kix_i1gfvbcr50v9-0 > li:before {
    content: '\0025cf   ';
  }

  ol {
    margin: 0;
    padding: 0;
  }

  table td,
  table th {
    padding: 0;
  }

  .c4 {
    margin-left: 36pt;
    padding-top: 12pt;
    padding-left: 0pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  .c5 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16px;

    font-style: normal;
  }

  .c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16px;

    font-style: normal;
  }

  .c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 16px;
  }

  .c13 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;

    font-style: normal;
  }

  .c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
  }

  .c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  .c6 {
    text-decoration-skip-ink: none;
    font-size: 16px;
    -webkit-text-decoration-skip: none;
    text-decoration: underline;
  }

  .c11 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 36pt 72pt 72pt 72pt;
  }

  .c3 {
    color: inherit;
    text-decoration: inherit;
  }

  .c8 {
    font-size: 16px;
    font-weight: 700;
  }

  .c9 {
    padding: 0;
    margin: 0;
  }

  .c12 {
    color: #0056d3;
  }

  .c10 {
    font-size: 16px;
  }

  .title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  .subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  li {
    color: #000000;
    font-size: 16px;
  }

  p {
    margin: 0;
    color: #000000;
    font-size: 16px;
  }

  h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 16px;
    padding-bottom: 4pt;

    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }

  h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 16px;
    padding-bottom: 4pt;

    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
}
