@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  html {
    @apply text-neutral-950;
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
  }
}
