@import './variables.scss';
@import 'react-credit-cards/lib/styles.scss';
@import './cards.scss';

.small-fontsize-input {
  input[type='text'] {
    font-size: 15px;
    @media screen and (max-width: 500px) {
      font-size: 11px;
    }
  }
}

.white-mask-filter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(61deg) brightness(102%) contrast(103%);
}

.sumsub-modal {
  div {
    max-height: 90vh;
    overflow-y: auto;
  }
}
